{% extends 'base.html' %}}
{% block content %}
    <div class="container Learn list">
        <h1 class='mb-4'>Danh sách skill đã học</h1>
        {% for item in object_list %}
            <div class="media m-3">
            {% comment %} {% load static %} {% endcomment %}
            <a href=""><img src={{ item.picture.url }} class="mr-3" alt="" width='120'></a>
                <div class="media-body">
                    <h5 class="mt-0"><a href="">{{item.name}}</a></h5>
                    <ul>
                        <li> Chủ đề: <a href="">{{item.topic}}</a></li>
                        <li> Ngôn ngữ: English</li>
                    </ul>
                    {{item.description}}
                </div>
            </div>
        {% endfor%}
    </div>

{% endblock  %}
